---
import MainHero from '../components/MainHero.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alejandro Figueiras">
	<main class="max-w-[1024px] p-4 mx-auto">
		<MainHero />
		<div class="flex justify-center items-center gap-4 w-full">
			<div class="border-black border-t w-full"></div>
		</div>
		<SectionTitle title="My Projects">
			<div class="grid grid-cols-2">
				<ProjectCard />
				<ProjectCard />
			</div>
		</SectionTitle>
	</main>
</Layout>

<style>
</style>
